@server

port: 8080
servername: localhost
maxbodysize: 5000000
error: www/

route: /
.method: GET
.root: www
.index: index.html

route: /do_post
.method: POST
.maxbodysize: 1K
.cgi: .php /path/to/php-cgi

route: /do_del
.method: DELETE
.root: $PWD/www/path_missing

route: /min-kang
.redirect: https://github.com/mgkgng

route: /sspina
.redirect: https://github.com/salvatorespina

route: /custom_error
.root: $PWD/www/403.html

route: /session
.index: index.php
.root: $PWD/www/cgi/state
.cgi: .php /path/to/php-cgi