@server

listen: 8080
servername: localhost
maxbodysize: 100000001

location: /
.method: GET
.root: www/index.html
.index: youpi.bad_extension
.autoindex: on

location: /put_test/
.method: PUT
.upload: /Users/etakouer/projects/webserv/docker/data/upload

location: /del_test/
.method: DELETE
.root: /Users/etakouer/projects/webserv/docker/data/upload alias

location: /post_body
.method: POST
.maxbodysize: 100

location: /directory/
.method: GET
.method: POST
.root: /Users/etakouer/projects/webserv/docker/data/www/YoupiBanane alias
.index: youpi.bad_extension
.location: .bla
..cgi /Users/etakouer/projects/webserv/docker/nginx/cgi/cgi_tester